<div style="margin-top: 90px;"></div>

<div class="ui two column grid">
  <div class="ten wide column">
    <div>
      <h3 style="margin-left: 100px;">
        <i class="large align justify icon"></i> Onboardee List</h3>
    </div>

    <ag-grid-angular #agGrid style="width: 700px; height: 300px; margin-left: 100px; margin-top: 40px;"
      class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs" [rowHeight]="30">
    </ag-grid-angular>

    <div style="background-color: #F5F7F7; margin-left: 100px; width: 700px;" class="ui segment">

      <div class="ui right floated small button" (click)="handleAdd()">
        <i class="user icon"></i> Add Onboardee
      </div>
      <div class="ui small button" (click)=editDetails()>
        <i class="edit icon"></i>
        Edit
      </div>
      <div class="ui small button" (click)=deleteOnboardee()>
        <i class="trash icon"></i>
        Delete
      </div>
      <div class="ui small button" (click)=viewDetails()>
        <i class="eye icon"></i>
        View
      </div>
    </div>
  </div>

  <div class="six wide column">
    <a class="ui teal card" style="margin-left: 100px;">
      <div class="content" *ngIf="loginDetail">
        <div class="header">{{loginDetail.name}}</div>
        <div class="meta"><i>{{loginDetail.emailID}}</i></div>
        <div class="description">
          <strong>{{loginDetail.department}}</strong>
        </div>
      </div>
    </a>
    <div style="margin-top: 200px;">
      <div class="ui five statistics" style="margin-left: 300px;">
        <div class="ui red tiny horizontal statistic">
          <div class="value">
            {{bangalore}}
          </div>
          <div class="label">
            Bangalore
          </div>
        </div>
        <div class="ui teal tiny horizontal statistic" style="margin-left: 20px;">
          <div class="value">
            {{delhi}}
          </div>
          <div class="label">
            Delhi
          </div>
        </div>
        <div class="ui orange tiny horizontal statistic">
          <div class="value">
            {{chennai}}
          </div>
          <div class="label">
            Chennai
          </div>
        </div>
        <div class="ui blue tiny horizontal statistic" style="margin-left: 20px;">
          <div class="value">
            {{mumbai}}
          </div>
          <div class="label">
            Mumbai
          </div>
        </div>
        <div class="ui pink tiny horizontal statistic">
          <div class="value">
            {{hyderabad}}
          </div>
          <div class="label">
            Hyderabad
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="eight wide column"></div>
  <div class="eight wide column">

  </div>
</div>