<div style="margin-top: 90px;"></div>
<div class="ui piled segment"
    style="width: 570px; margin-Left: 'auto'; margin-Right: 'auto'; margin-Top: '100px'; padding: 30px;">
    <form class="ui small form" [formGroup]="myform">
        <div class="ui raised segments" style="height: 40px;">
            <h4 class="ui horizontal divider header" style="margin-top: 10px;">
                <i class="tag icon" style="color: teal;"></i>
                Onboardee Details
            </h4>
        </div>
        <!-- <div  >
            <div class="header">
              Invalid form details!
            </div>
            <div class="ui negative message"*ngIf="!myform.controls['name'].valid && myform.controls['name'].touched">This field can't be blank</div>
            <div class="ui negative message"*ngIf="!myform.controls['onboardeeID'].valid && myform.controls['name'].touched">This field can't be blank</div>
            <div class="ui negative message"*ngIf="!myform.controls['contactNo'].valid">Length should be 10 digits</div>
            <div class="ui negative message"*ngIf="!myform.controls['emailId'].svalid">Provide a valid e-mail address</div>
            <div class="ui negative message"*ngIf="!myform.controls['startDate'].valid && myform.controls['name'].touched">This field can't be blank</div>
            <div class="ui negative message"*ngIf="!myform.controls['arrivalDate'].valid && myform.controls['name'].touched">This field can't be blank</div>
        </div> -->
        <!-- <div class="ui negative message"*ngIf="myform.controls['name'].touched || myform.controls['name'].dirty">This field can't be blank</div> -->
        <div class="two fields">
            <div class="required field" style="margin-top: 20px">
                <label>Full Name</label>
                <input type="text" name="full-name" placeholder="Full Name" formControlName="name"
                    style="height: 31px;">
            </div>
            <div class="required field" style="margin-top: 20px">
                <label>Onboardee ID</label>
                <input type="text" name="OnboardeeId" placeholder="Onboardee ID" formControlName="onboardeeID"
                    style="height: 31px;">
            </div>
        </div>

        <!-- <h4>Basic mat-select</h4>
        <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->


        <div class="two fields">
            <div class="required field" style="margin-top: 8px">
                <label>Demand ID</label>
                <select formControlName="demandID" style="height: 31px; text-align: center; position: relative;">
                    <option value="" disabled selected hidden>Select Demand ID</option>
                    <option style="padding: 20px;" *ngFor="let dd of demandList">{{dd.demandID}}</option>
                </select>
            </div>
            <div class="field" style="margin-top: 8px">
                <label>Recruiter ID</label>
                <input type="text" formControlName="recruiterID" style="height: 31px;" disabled>
            </div>
        </div>


        <div class="required two fields">
            <div class="six wide field" style="margin-top: 8px">
                <label>Contact Number</label>
                <input type="number" placeholder="Contact Number" formControlName="contactNo" style="height: 31px;">
            </div>
            <div class="ten wide field" style="margin-top: 8px">
                <label>Email ID</label>
                <input type="text" name="EmailID" placeholder="Email ID" formControlName="emailId"
                    style="height: 31px;">
            </div>
        </div>

        <div class="required two fields">
            <div class="field" style="margin-top: 8px;">
                <label>Onboarding Start Date</label>
                <input type="date" min="getDate(today)" formControlName="startDate" style="height: 31px;">
            </div>
            <div class="field" style="margin-top: 8px;">
                <label>Estimated Time of Arrival</label>
                <input type="date" formControlName="arrivalDate" style="height: 31px;">
            </div>
        </div>

        <div class="inline fields" style="margin-top: 20px;">
            <label>Document Status</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="docsStatus" formControlName="docsStatus" value="In Progress">
                    <label>In Progress</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="docsStatus" formControlName="docsStatus" value="Done">
                    <label>Done</label>
                </div>
            </div>
        </div>

        <div class="inline fields" style="margin-top: 20px;">
            <label>Location</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="location" formControlName="location" value="Bangalore">
                    <label>Bangalore</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="location" formControlName="location" value="Chennai">
                    <label>Chennai</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="location" formControlName="location" value="Delhi">
                    <label>Delhi</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="location" formControlName="location" value="Hyderabad">
                    <label>Hyderabad</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="location" formControlName="location" value="Mumbai">
                    <label>Mumbai</label>
                </div>
            </div>
        </div>

        <div class="inline fields" style="margin-top: 20px;">
            <label>BGC Status</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="bgcStatus" formControlName="bgcStatus" value="In Progress">
                    <label>In Progress</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="bgcStatus" formControlName="bgcStatus" value="Done">
                    <label>Done</label>
                </div>
            </div>
        </div>

        <div class="inline fields" style="margin-top: 20px;">
            <label>Onboarding Status</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="onboardingStatus" formControlName="onboardingStatus" value="In Progress">
                    <label>In Progress</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="onboardingStatus" formControlName="onboardingStatus" value="Done">
                    <label>Done</label>
                </div>
            </div>
        </div>
        <button class="ui button" type="submit" [disabled]="!myform.valid" (click)="handleNewOnboardee(myform.value)"
            style="margin-top: 15px;">Submit</button>

        <button class="ui button" type="submit" (click)="myform.reset()" style="margin-top: 15px;">Reset</button>

    </form>
</div>