<!-- Login Form -->
<div class="ui teal segment"
  style="width: 350px; margin-Left: 'auto'; margin-Right: 'auto'; margin-Top: '140px'; padding: 30px;">

  <form class="ui form">
    <div class="field">
      <label>Employee Code</label>
      <div class="ui left icon input">
        <input type="text" placeholder="Employee Code" [(ngModel)]="employeeCode"
          [ngModelOptions]="{standalone: true}" />
        <i aria-hidden="true" class="user icon"></i>
      </div>
    </div>
    <div class="field">
      <label>Password</label>
      <div class="ui left icon input">
        <input type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />
        <i aria-hidden="true" class="lock icon"></i>
      </div>
    </div>
    <div class="ui mini negative message" *ngIf='invalidLogin'>
      <i class="close icon" (click)="close()"></i>
      <div class="header">
        Invalid Credentials!!!
      </div>
      <p>Please try again
      </p>
    </div>
    <button type="submit" class="ui button" (click)=handleLogin()>Submit</button>
  </form>

  <div class="ui horizontal divider">Or</div>
  <div class="ui basic center aligned segment">

    <button class="ui grey basic button" (click)="signinWithGoogle()">
      <img width="17px" style="vertical-align:middle; margin-bottom:3px; margin-right:5px" alt="Google sign-in"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      Login with Google
    </button>
  </div>
</div>