<div style="margin-top: 90px;"></div>
<div class="ui piled segment"
    style="width: 570px; margin-Left: 'auto'; margin-Right: 'auto'; margin-Top: '150px'; padding: 30px;">
    <h4 class="ui horizontal divider header">
        <i class="tag icon"></i>
        Onboardee Details
    </h4>
    <div class="ui two column grid">
        <div class="ten wide column">
            <p><b>Full Name : </b><i>{{onboardee.name}}</i></p>
            <p><b>Onboardee ID : </b><i>{{onboardee.onboardeeID}}</i></p>
            <p><b>Email ID : </b><i>{{onboardee.contactNo}}</i></p>
            <p><b>Contact No : </b><i>{{onboardee.emailId}}</i></p>
            <p><b>Demand ID : </b><i>{{onboardee.demandID}}</i></p>
            <p><b>Location : </b><i>{{onboardee.location}}</i></p>
            <p><b>BGC Status : </b><i>{{onboardee.bgcStatus}}</i></p>
            <p><b>Onboarding Status : </b><i>{{onboardee.onboardingStatus}}</i></p>
            <p><b>docsStatus : </b><i>{{onboardee.docsStatus}}</i></p>
        </div>
    </div>
</div>>